* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cardsContainer, .contactContainer, .techContainer {
    background-color: #f4f7f6;
    text-align: center;
}



.cardsContent, .contactContent, .techContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}
