* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.appContainer {
    background-color: #f4f7f6;
    text-align: center;
}

.appContainer h1 {
    padding: 40px;
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}